/* COLORS */
$primary-color: #249cff;
$secondary-color: #693bd2;
$tertiary-color: #48dae6;

$primary-color-dark: #1b93f5;

$primary-bg-color: #fff;
$secondary-bg-color: #f9f9f9;

/* FONTS */
$main-font: 'Montserrat', sans-serif;

/* LAYOUT */
$side-space: 50px;
$nav-side-space: 50px;
$nav-side-space-tablet: 50px;
$footer-height: 100px;